/* Fuente poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html,
body {
  height: 100%;
  background-color: #1b1b32;
}

.App {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 50px;
}

.header h1 {
  text-align: center;
  color: white;
  font-size: 40px;
  width: 100%;
}

.contenedor-calculadora {
  width: 100%;
  max-width: 400px;
  border-radius: 25px;
  border: 4px solid white;
  background-color: rgb(119, 182, 255);
  padding: 20px;
}

.fila{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}